<tr>
	<td style="width: 24px">

		<img style="width: 26px; border: 1px solid #ccc" class="" src="{{icon}}" />

	</td>


	
	{{#user}}
		<td><i class="glyphicon glyphicon-user"></i> {{name}}</td>
		<td><i class="glyphicon glyphicon-envelope"></i> <span>{{mail}}</span></td>
	{{/user}}
	

	<td>
		{{#statusItem.yes}}
			<span class="label label-success">Attend</span>
		{{/statusItem.yes}}

		{{#statusItem.maybe}}
			<span class="label label-warning">Maybe</span>
		{{/statusItem.maybe}}

		{{#statusItem.no}}
			<span class="label label-danger">Appologized</span>
		{{/statusItem.no}}
	</td>

	<td><span><i class=" icon-time"></i> <span class="ts" data-ts="{{ts}}"></span></span></td>
</tr>