<div class="panel panel-default">
	<div class="panel-heading">

		<a data-groupid="{{groupid}}" class="btn btn-success selectRoom" style="float: right">
			<span class="glyphicon glyphicon-facetime-video"></span> Join meeting
		</a>

		<p style="color: #050; margin: 0px">Meetingroom</p>
		<h3 class="panel-title">{{groupname.title}}</h3>
		
	</div>
	<div class="panel-body">

		<p style="color: #999; margin: 0px">Currently, no other users present on meetingroom. Be the first participant!</p>

	</div>
</div>

