


ul.apis li.api .showEdit { display: none; }
ul.apis li.api .hideEdit { display: inline; }

ul.apis li.api.edit .showEdit { display: inline; }
ul.apis li.api.edit .hideEdit { display: none; }


div#clientauthorizations table tr.client td {
	background-color: #fafafa;

}
/*

table.authorizationList tr.client td {
	cursor:pointer;
	cursor:hand;
}
*/


div#clientauthorizations table tr.client:hover td {
	background-color: #fff;
}

div#clientauthorizations table tr.client td {
	cursor:pointer;
	cursor:hand;
}

div#clientauthorizations img.clientlogo {
	max-height: 24px; 
	max-width: 24px
}

div#clientauthorizations table tr.client span.closed { display: inline; }
div#clientauthorizations table tr.client span.open { display: none; }


div#clientauthorizations table tr.client.open span.closed { display: none; }
div#clientauthorizations table tr.client.open span.open { display: inline; }

div#clientauthorizations table tr.clientDetails { display: none;}
div#clientauthorizations table tr.clientDetails.open { display: table-row;}


div#clientauthorizations table tr.clientDetails, div#clientauthorizations table tr.clientDetails td {
	padding: 0px;
}
div#clientauthorizations table tr.clientDetails div.clientDetailsBox { 

	border-top: none;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;

border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
	padding: 5px .5em 10px 1em;
	margin: 0px 0px 10px 0px;


}