<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>uFeed</title>
		<meta name="viewport" content="user-scalable=no,width=device-width" />
		<meta name="description" content="eduFeed" />
		<meta name="author" content="Andreas Åkre Solberg" />

		<link rel='stylesheet' href="css/feed.css" rel="stylesheet" />
		<link rel='stylesheet' href='css/feed-mobile.css' media='screen and (max-width: 767px)' />

		<script type="text/javascript" data-main="main-share-widget" src="/_/js/require.js"></script>

		<script id="shareTmpl" type="text/x-jquery-tmpl">
			<div class="item">
				{{if user}}
					<img class="profileimg img-polaroid" src="${user.profileurl}" />
				{{/if}}

				{{if activity.object.displayName}}
					<h4>${activity.object.displayName}</h4>
				{{/if}}
				{{if activity.object.url}}
					<p style="font-size: 90%; color: blue"><a target="_blank" href="${activity.object.url}">{{= activity.object.hostname }}</a></p>
				{{/if}}

				<textarea style="width: 95%" placeholder="Type in a message about this link..." id="fieldMessage"></textarea>

				<div class="footer">
					{{if user}}
						<span><i class="icon-user"></i> ${user.name}</span>
					{{/if}}
					
					<span><i class=" icon-time"></i> <span class="ts" data-ts="${ts}">now</span></span>
					{{each groupnames}}
				        <span class="label">${$value}</span>
				    {{/each}}
				</p>
			</div>
		</script>

		<!--
		<script id="itemTmpl" type="text/x-jquery-tmpl">
			<div class="item">
				{{if user}}
					<img class="profileimg img-polaroid" src="${user.profileurl}" />
				{{/if}}


				<p>${message}</p>
				<div class="footer">
					{{if user}}
						<span><i class=" icon-user"></i> ${user.name}</span>
					{{/if}}
					
					<span><i class=" icon-time"></i> <span class="ts" data-ts="${ts}">now</span></span>
					{{each groupnames}}
				        <span class="label">${$value}</span>
				    {{/each}}
				</p>
			</div>
		</script>
		-->

	</head>

	<body>

		<div id="notauthorized" style="display:none; padding: 3em">
			<p>You have not yet authorized the UWAP feed Widget.</p>
			<p><button class="btn">Authorize</button></p>
		</div>

		<div id="share-widget-main" style="display: none">
			<div class="feedcontainer" >
				<div id="share" class="basicItem">
					<div id="post"></div>

					<div style="display: inline" class="groups"></div>

					<button style="margin: 2px" class="btn btn-mini btn-primary actPost">Post</button>

				</div>
			</div>
		</div>

		<!-- 
		<div id="noauth" style="display: none; padding: 3em">

			<p>You need to authorize this widget in order to share.</p>

			<button style="margin: 2px" class="btn btn-mini btn-primary actPost">Authorize</button>

		</div>
		-->

	</body>
</html>












