<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>uFeed</title>
		<meta name="viewport" content="user-scalable=no,width=device-width" />
		<meta name="description" content="eduFeed" />
		<meta name="author" content="Andreas Åkre Solberg" />

		<link rel='stylesheet' href="css/feed.css" rel="stylesheet" />
		<link rel='stylesheet' href='css/feed-mobile.css' rel="stylesheet" />

		<script type="text/javascript" data-main="main-widget" src="/_/js/require.js"></script>


		<script id="postCommentTmpl" type="text/x-jquery-tmpl">

			<div class="comment">
			<form class="form-horizontal">

				{{if user}}
					
					<img class="profileimg img-polaroid" src="${user.profileimg}" />
				{{/if}}
				{{if client}}
					
					<img class="profileimg img-polaroid" src="${client.profileimg}" />
				{{/if}}
				
				<textarea class="focusfield field-message" style="width: 90%" placeholder="Write a comment..."></textarea>
				<div class="btn-group">
				  <button class="btn btn-mini actPostComment">Post</button>
				  <!-- <button class="btn actSharewith">Share with</button> -->
				</div>

			</form>
			</div>

		</script>


		<script id="commentTmpl" type="text/x-jquery-tmpl">
			<div id="${id}" class="comment">
				{{if user}}
					
					<img class="profileimg img-polaroid" src="${user.profileimg}" />
				{{/if}}
				{{if client}}
					
					<img class="profileimg img-polaroid" src="${client.profileimg}" />
				{{/if}}

				{{if title}}
					<h4>${title}</h4>
				{{/if}}

				<p>${message}</p>

				{{if thumbnail}}
					<div><img class="thumb" src="${thumbnail}" /></div>
				{{/if}}

				{{if links}}
					{{each links}}
				        <span style="margin-right: 2em" class=""><i class="icon-share-alt"></i><a target="_blank" href="${$value.href}">${$value.text}</a></span> 
				    {{/each}}
				{{/if}}

				<div class="footer">
					{{if user}}
						<span><i class=" icon-user"></i> ${user.name}</span>
					{{/if}}
					{{if client}}
						<span><i class="icon-briefcase"></i> ${client.client_name}</span>
					{{/if}}
					
					<span><i class=" icon-time"></i> <span class="ts" data-ts="${ts}"></span></span>
					<!--
					{{each groupnames}}
				        <span class="label">${$value}</span>
				    {{/each}}
				    -->
				</div>



			</div>
		</script>

		<script id="videoplayer" type="text/x-jquery-tmpl">
			<div id="videoPlayer" >

		    	<video width="${width}" height="${height}" controls="controls" autoplay="autoplay">
					  <source src="${filename}" type="video/mp4" />
					  Nettleseren din mangler st&oslash;tte for HTML5 video.
				</video>
				<div>
				    <button class="close btn" data-dismiss="modal" aria-hidden="true">Close</button>
			    </div>
			</div>
		</script>



	<script id="itemMediaTmpl" type="text/x-jquery-tmpl">


		<li id="${id}" class="item mediaItem span4">
		<div class="thumbnail">

			{{if media.thumbnail}}

				<div><img class="videoitem thumb" src="${media.thumbnail}" /></div>
			{{else}}
				<div><img class="videoitem thumb" src="/img/300x200.gif" /></div>
				
			{{/if}}

			{{if title}}
				<h4>${title}</h4>
			{{/if}}

			<p>${message}</p>


			{{if links}}
				{{each links}}
			        <span style="margin-right: 2em" class=""><i class="icon-share-alt"></i><a target="_blank" href="${$value.href}">${$value.text}</a></span> 
			    {{/each}}
			{{/if}}
			
			<div class="footer">
				{{if user}}
					<span><i class=" icon-user"></i> ${user.name}</span>
				{{/if}}
				{{if client}}
					<span><i class="icon-briefcase"></i> ${client.client_name}</span>
				{{/if}}
				
				<span><i class=" icon-time"></i> <span class="ts" data-ts="${ts}"></span></span>

				{{each groupnames}}
			        <span class="label">${$value}</span>
			    {{/each}}

			    
			</div>
			
			<!--
			{{if user}}
				<img class="profileimg img-polaroid" src="http://dev.app.bridge.uninett.no/_/api/photo.php?a=${user.a}" />
			{{/if}}
			{{if client}}
				<img class="profileimg img-polaroid" src="http://dev.app.bridge.uninett.no/_/api/logo.php?client=${client.client_id}" />
			{{/if}}
			-->
			</div>
		</li>
	</script>

	<script id="itemFileTmpl" type="text/x-jquery-tmpl">
		<div id="${id}" class="item fileItem">

			{{if files}}
				<ul class="nav nav-list">
					{{each files}}
				        <li>
				        	<a target="_blank" href="${$value.href}"><i class="icon-file"></i> ${$value.filename}
							{{if user}}
								<span><i class=" icon-user"></i> ${user.name}</span>
							{{/if}}
							{{if client}}
								<span><i class="icon-briefcase"></i> ${client.client_name}</span>
							{{/if}}
							
							<span><i class=" icon-time"></i> <span class="ts" data-ts="${ts}"></span></span>

							{{each groupnames}}
						        <span class="label">${$value}</span>
						    {{/each}}
						    </a>
				        </li>
				    {{/each}}
			    </ul>
			{{/if}}

		</div>
	</script>


	<script id="itemTmpl" type="text/x-jquery-tmpl">

		<div id="${id}" class="item basicItem {{if promoted}}promoted{{/if}}">

			{{if user}}
				
				<img class="profileimg img-polaroid" src="${user.profileimg}" />
			{{/if}}
			{{if client}}
				
				<img class="profileimg img-polaroid" src="${client.profileimg}" />
			{{/if}}

			<!--
			<div style="float: right" class="btn-group pull-right">
				<a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
					<i class="icon-cog"></i> 
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
					<li><a class="actDelete" href="#"><i class="icon-trash"></i> Delete this item</a></li>
					<li><a href="#"><i class="icon-ban-circle"></i> Report this issue</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="icon-star"></i> Promote this item</a></li>
				</ul>
			</div>
			-->

			{{if title}}
				<h4>${title}</h4>
			{{/if}}

			<p>{{html message}}</p>

			{{if thumbnail}}
				<div><img class="thumb" src="${thumbnail}" /></div>
			{{/if}}

			{{if media}}
				{{if media.thumbnail}}
					<div><img class="videoitem thumb" src="${media.thumbnail}" /></div>
				{{else}}
					<div><img class="videoitem thumb" src="http://placehold.it/300x200" /></div>
				{{/if}}

				
			{{/if}}

			{{if links}}
				{{each links}}
			        <span style="margin-right: 2em" class=""><i class="icon-share-alt"></i><a target="_blank" href="${$value.href}">${$value.text}</a></span> 
			    {{/each}}
			{{/if}}

			{{if files}}
				<ul class="nav nav-list">
					{{each files}}
				        <li><a target="_blank" href="${$value.href}"><i class="icon-file"></i> ${$value.filename}</a></li>
				    {{/each}}
			    </ul>
			{{/if}}

			<div class="footer">

				{{if keywords}}
					<div>
						{{each keywords}}
							<span class="">${$value}</span>, 
					    {{/each}}
				    </div>
				{{/if}}


				{{if author}}
					<span><i class=" icon-user"></i> ${author}</span>
				{{/if}}
				{{if user}}
					<span><i class=" icon-user"></i> ${user.name}</span>
				{{/if}}
				{{if client}}
					<span><i class="icon-briefcase"></i> ${client.client_name}</span>
				{{/if}}
				
				<span><i class=" icon-time"></i> <span class="ts" data-ts="${ts}"></span></span>
				<!-- <span><i class=" icon-time"></i> activity <span class="ts" data-ts="${lastActivity}"></span></span> -->

				{{each groupnames}}
			        <span class="label">${$value}</span>
			    {{/each}}
			    {{if public}}
			    	<span class="label label-inverse"><i class="icon-eye-open icon-white"></i> Public</span>
			    {{/if}}
			    {{if promoted}}
				    <span class="label label-info"><i class="icon-star icon-white"></i> Promoted</span>
			    
			    {{/if}}
			    
			</div>



			<div class="comments">
			</div>

			<span class="commentlink" style="float: right; clear: right; font-size: small"><a class="muted actEnableComment" href="#">Add comment</a></span>
			<br class="clearfix" />

			<div class="postcomment">
			</div>



		</div>
	</script>


	<script id="postTmpl" type="text/x-jquery-tmpl">
				<div id="post" style="" class="well">

					<form class="form-horizontal">
					<div class="btn-toolbar">

						<div class="btn-group" data-toggle="buttons-radio">
							<button id="btn-message" class="btn posttype"  rel="tooltip" data-placement="bottom" data-original-title="Post a message">
								<i class="icon-comment"></i></button>
							<button id="btn-link" class="btn posttype"  rel="tooltip" data-placement="bottom" data-original-title="Share a link">
								<i class="icon-share"></i></button>
							<button id="btn-event" class="btn posttype"  rel="tooltip" data-placement="bottom" data-original-title="Add an event">
								<i class="icon-calendar"></i></button>
							<button id="btn-article" class="btn posttype"  rel="tooltip" data-placement="bottom" data-original-title="Write an article">
								<i class="icon-align-left"></i></button>
							<button id="btn-file" class="btn posttype"  rel="tooltip" data-placement="bottom" data-original-title="Share a file">
								<i class="icon-file"></i></button>
						</div>

						<div class="btn-group">
							<a class="btn dropdown-toggle actSharewith" data-toggle="dropdown" href="#">
								Share with
								<span class="caret"></span>
							</a>
							<ul id="sharewithgrouplist" class="dropdown-menu">
							</ul>
						</div>
						<button class="btn btn-primary actPost">Post</button>
						<button id="postDisableBtn" class="btn">Discard</button>
					</div>

					<div>
						<p><label><input class="field-public" type="checkbox"> Public</label> 
						   <label><input class="field-promoted" type="checkbox"> Promoted</label></p>
					</div>


					<div style="display: none" class="postc post-message">
						<textarea class="focusfield field-message" style="width: 100%" placeholder="Type in a message..."></textarea>
					</div>
					<div style="display: none" class="postc post-link">
						<p><input class="focusfield field-link" style="width: 100%" type="text" id="file" placeholder="http://"></p>
						<p><input type="text" class="field-title" style="width: 100%" name="title" placeholder="Link title" /></p>
						<p><textarea class="field-message" style="width: 100%" placeholder="Type in a message... (optional)"></textarea></p>
					</div>
					<div style="display: none" class="postc post-event">
						<p><input type="text" class="focusfield field-title" style="width: 100%" name="title" placeholder="Event title" /></p>
						<textarea class="field-message" style="height: 160px; width: 100%" placeholder="Description of event..."></textarea>
						<p>Date</p>
					</div>
					<div style="display: none" class="postc post-article">
						<p><input type="text" class="focusfield field-title" style="width: 100%" name="title" placeholder="Title..." /></p>
						<textarea class="field-message" style="height: 300px; width: 100%" placeholder="Write an article..."></textarea>
					</div>
					<div style="display: none" class="postc post-file">
						<textarea class="focusfield field-message" style="width: 100%" placeholder="Type in a message..."></textarea>

						  <div class="control-group">
						    <label class="control-label" for="filename">Filename</label>
						    <div class="controls">
						      <input type="text" id="filename" class="field-filename" placeholder="Filename">
						    </div>
						  </div>

						  <div class="control-group">
						    <label class="control-label" for="fileurl">URL to file</label>
						    <div class="controls">
						      <input type="text" id="fileurl" class="field-fileurl" placeholder="http://">
						    </div>
						  </div>

						<!-- <p><input class="field-file" name="uploadedfile" type="file" /></p> -->
					</div>

					<div class="sharewith">Shared with: <span class="shareitems"></span> <a style="margin-left: 1em" class="muted resetsharedwith" href="#">reset</a></div>
					</form>
					
				</div>	
			</script>





	</head>

	<body>

		<div id="notauthorized" style="display:none; padding: 3em">
			<p>You have not yet authorized the UWAP feed Widget.</p>
			<p><button class="btn">Authorize</button></p>
		</div>


		<div class="container-fluid">


			<div id="panecontainer">
			</div>

		</div>





	<div id="modalContainer"></div>


	</body>
</html>