<div>

	<p>You are about to register a new application at UWAP using the autoconnect feature.</p>

	<form class="registerform" role="form">  


		<p>Give your client application a short desriptive name, and a longer descriptive text to explain what your application does.</p>

		<div class="form-group">
			<label for="newClientID">Client identifier</label>
			<input disabled="disabled" id="newClientID" type="text" class="input form-control" placeholder="ID" value="{{metadata.id}}" />
		</div>

		<div class="form-group">
			<label for="newClientName">Name</label>
			<input id="newClientName" type="text" class="form-control input" placeholder="Name of application" value="{{metadata.name}}">
		</div>

		<div class="form-group">
			<label for="newClientDescr">Description of client</label>
			<textarea class="form-control" id="newClientDescr" value="{{metadata.descr}}" placeholder="Describe your client..."></textarea>
		</div>


		<div class="form-group">
			<label for="newClientRedirectURI">OAuth 2.0 Authorization callback URL</label>
			<input id="newClientRedirectURI" type="text" class="form-control input" placeholder="http://yourservice.org/callback" value="{{metadata.return}}">
		</div>


		<p>Client credentials will be sent back to <code>{{origin}}</code> 
			<br /><strong>Please verify</strong> that this domain is correct before you register the application!</p>

		<button class="btn btn-large btn-primary newClientBtn">Register this application at UWAP</button>

	</form>


</div>