<div class="row">

	<div class="col-md-9">
		<h2>{{name}} <span class="label label-success">Client</span></h2>
		<p>{{descr}}</p>
	</div>

	<div class="col-md-3">
		<p><img src="{{logo}}" style="padding: 5px; border: 1px solid #ddd; border-radius: 4px; backgroud: #eee" /></p>
	</div>

</div>



<div class="row">

	<div class="col-md-6">
		<h3>OAuth details</h3>
		<p>You may access your application area using WebDAV</p>

		<dl>
			<dt>Client ID</dt>
			<dd><code>{{id}}</code></dd>

			<dt>Client Secret</dt>
			<dd><code>{{client_secret}}</code></dd>

			<dt>Redirect URI</dt>
			{{#each redirect_uri}}
				<dd><code>{{this}}</code></dd>
			{{/each}}
		</dl>
	</div>

	<div class="col-md-6">

		<h3>Authorized Scopes</h3>

		<ul>
		{{#each scopes}}
			<li><code>{{.}}</code></li>
		{{/each}}
		</ul>

	</div>
<!--
	<div class="col-md-4">
		<h3>Usage Statistics</h3>

		<p><img src="img/plot.jpg" style="border-radius: 5px"></p>

		<p>{{count}} registered users. ( <a href="">see more statistics</a> )</p>

	</div>
-->

</div>



<div class="row">

	<div class="col-md-12">

		<h3>Generic Authorization Scopes</h3>
		<table class="table table-striped">

			<thead>
				<tr>
					<th>Scope</th>
					<th>Descr</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>

				{{#each genericScopes}}
					<tr class="scope" data-scope="{{@key}}">
						<td><code>{{@key}}</code></td>
						<td>{{name}}. {{descr}}</td>
						<td>
							{{#if granted}}
								<span class="label label-success">Granted</span>
							{{/if}}
							{{#if requested}}
								<span class="label label-danger">Requested</span>
							{{/if}}
						</td>
						<td>
							{{#if granted}}
								<button class="btn btn-mini actRemoveAccessGeneric">Remove</button>
							{{else}}
								{{#if requested}}
									<button class="btn btn-mini actRemoveAccessGeneric">Remove</button>
								{{else}}
									<button class="btn btn-mini actRequestAccessGeneric">Request</button>
								{{/if}}
							{{/if}}
						</td>
					</tr>
				{{/each}}

			</tbody>
		</table>

	</div>


</div>





<div class="row">

	<div class="col-md-12">



		<div class="panel panel-default authorizationlistcontainer" id="authorizedAPIContainer">
			<div class="panel-heading">



				<h3>Authorized APIs</h3>

			</div>
			<div class="panel-body">
			
			

				<p style="margin: .8em .6em">These APIs are already authorized for your client, or pending moderation.</p>
			

				<div class="panel-body clientauthorizations" id="authorizedAPIlisting">
					<div class="items"></div>
				</div>
				<div style="margin: 0px; padding: 0px; text-align: center" class="listpager"></div>

			</div>
		</div>






		<div class="panel panel-default authorizationlistcontainer" id="availableAPIContainer">
			<div class="panel-heading">

				<form class=" pull-right" role="search">
			      <div class="form-group">
			        <input id="apiSearch" type="text" class="form-control" placeholder="Search">
			      </div>
			      <!-- <button type="submit" class="btn btn-default">Submit</button> -->
			    </form>

				<h3>Available APIs</h3>

			</div>
			<div class="panel-body">

				<p style="margin: .8em .6em">Navigate through available APIs, and request permissions.</p>
			
				<div class="panel-body clientauthorizations" id="publicAPIlisting">
					<div class="items"></div>
				</div>
				<div style="margin: 0px; padding: 0px; text-align: center" class="listpager"></div>

			</div>
		</div>


	</div>

</div>



