<div class="hero-unit">
	<h1>Hello, developer!</h1>
	<p>You are now a few clicks away from setting up hosting of a web application in the UNINETT WebApp Park.</p>
	<p><a class="btn btn-primary btn-large newAppBtn">Setup an app &raquo;</a></p>
 </div>
 <div class="row-fluid">
	<div class="span4">
		<h2>Applications</h2>
		<p>Web applications running in UNINETT WebApp park will be available on a separate domain, and have access to authentication, storage and REST authorization handlers. You can mount your application data to your development environment using WebDAV.</p>
		<p><a class="btn btn-primary newAppBtn" href="#">Setup an app &raquo;</a></p>
	</div><!--/span-->
	<div class="span4">
		<h2>API Gatekeeper</h2>
		<p>If you already have a REST data API, and would like to add a layer of authentication and authorization, the API Gatekeeper may proxy all REST requests to your application.</p>
		<p><a class="btn newProxyBtn" href="#">Setup a API Gatekeeper &raquo;</a></p>
	</div><!--/span-->
	<div class="span4">
		<h2>Clients</h2>
		<p>Register an OAuth 2.0 Consumer to get access to any of the available data sources through UNINETT WebApp Engine.</p>
		<p><a class="btn newClientBtn" href="#">Setup a client &raquo;</a></p>
	</div><!--/span-->
 </div><!--/row-->