<div class="row-fluid">

		<div class="span9">
			<h2>{{name}} <span class="label label-success">API Gatekeeper</span></h2>

			<p>{{descr}}</p>

			<dl>
				<dt>API Endpoint</dt>
				<dd><code>{{url}}</code></dd>
			</dl>
			<p></p>

		</div>
		<div class="span3">
			<p><img src="https://core.uwap.org/api/media/logo/app/{{id}}" style="padding: 5px; border: 1px solid #ddd; border-radius: 4px; backgroud: #eee" /></p>
		</div>

	</div>


	<div class="row-fluid">

		<div class="span4">
			<h3>API Authentication details</h3>
			<p>The following credentials are using for connections between UWAP and your API.</p>

			<dl>
				<dt>HTTP Authentication Header</dt>
				<dd><code></code></dd>
				<dt>HTTP Authentication Token</dt>
				<dd><code></code></dd>
			</dl>

		</div>

		<div class="span4">

			<h3>Scopes</h3>
			
			{{#proxies}}
				{{#api}}
					<ul>
					{{#scopes}}
						<li><code>{{value}}</code></li>
					{{/scopes}}
					{{^scopes}} 
						<li>No scopes configured</li>
					{{/scopes}}
					</ul>
				{{/api}}
			
			{{/proxies}}
			

			<h3>Endpoints</h3>
			

			{{#proxiesArr}}

				<p>API <code>/{{id}}</code></p>
				
				<ul>
					{{#endpoints}}
						<li>{{.}}</li>
					{{/endpoints}}
				</ul>
				
			{{/proxiesArr}}

		</div>
		<div class="span4">
			<h3>Usage Statistics</h3>

			<p><img src="img/plot.jpg" style="border-radius: 5px"></p>
				
			<p>{{count}} registered users. ( <a href="">see more statistics</a> )</p>

		</div>

	</div>




	<div class="row-fluid">

		<div class="span6 appstatus">
				<h3>App Status</h3>
				<div class="appstatusMain"></div>
				<div class="listing"></div>
				<div class="deletion"></div>
		</div>

		<div class="span6">




			<h3>Monitoring</h3>
			<p>Not yet implemented..</p>

		</div>
	</div>




</div><!--/span-->