<div class="modal fade" id="newgroupmodal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create new group</h4>
			</div>
			<div class="modal-body">

				<p>You are about to create a new ad-hoc group in Feide Connect. This group will be accessible from all applications running on this service platform.</p>

				<form role="form" class="registerform">  

					<p>Give your new group a clear readable name that immediately makes sense to the members.</p>

					<div class="form-group">
						<label for="groupname">Name</label>
						<input style="" id="groupname" type="text" class="inputFocus form-control input" placeholder="">
					</div>

					<div class="form-group">
						<label for="groupdescription">Description</label>
						<textarea id="groupdescription" type="text" class="form-control input" placeholder=""></textarea>
					</div>

					<div class="form-group">
						<label class="checkbox">  
							<input id="grouplisting" type="checkbox" > Enable public listing of this group</label>
						Allow anyone to be able to subscribe to follow the public content associated with this group.
					</div>

				</form>

			</div>
			<div class="modal-footer">
				<a href="#" class="actDismiss btn btn-default">Cancel</a>
				<a href="#" class="actSave btn btn-primary">Create new group</a>
			</div>
		</div>
	</div>
</div>