<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Subscribe</title>
		<meta name="viewport" content="user-scalable=no,width=device-width" />
		<meta name="description" content="Subscribe to group content" />
		<meta name="author" content="Andreas Åkre Solberg" />

		<link rel='stylesheet' href="css/style.css" rel="stylesheet" />
		<!-- link rel='stylesheet' href='css/style-mobile.css' media='screen and (max-width: 767px)' /> -->

		<script type="text/javascript" data-main="main" src="/_/js/require.js"></script>

		<script id="groupItem" type="text/x-jquery-tmpl">
			<tr style="" class="group">

				<td style=" text-align: right">
					{{if subscribed}}
						<button class="actUnsubscribe btn btn-mini">Unsubscribe</button>				
					{{else}}
						<button class="actSubscribe btn btn-success btn-mini">Subscribe</button>
					{{/if}}
				</td>
				<td style="">
					{{if subscribed}}
						<span class="label label-success">Subscribed</span>
					{{else}}
						
					{{/if}}
				</td>
				<td class="title">${title}</td>

<!--
				<td>
					{{if admin}}
						<span class="label label-info">Admin</span>
					{{/if}}
					{{if member}}
						<span class="label label-success">Member</span>
					{{/if}}
					{{if owner}}
						<span class="label label-danger">Owner</span>
					{{/if}}
				</td>
-->

			</tr>
		</script>


	</head>

	<body>



		<div class="loader-hideOnLoad" style="position: fixed; top: 100px; left: 50px">
			<p><img src="/img/ajax-loader.gif" /> Loading application...</p>
		</div>


		<!-- Fixed navbar -->
		<div class="navbar navbar-default navbar-fixed-top loader-showOnLoad" role="navigation" style="display: none;">
		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="#"><img src="http://core.app.bridge.uninett.no/_/bootstrap3-uninett/images/UNINETT_logo.svg" alt="Uninett logo" type="image/svg+xml"></a>
			</div>

			<div class="navbar-department">
				<div class="department">Connect</div>
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">

					<li class="active"><a href="#">Subscribe</a></li>

<!-- 					<li class="navbar-search pull-right" action="">
						<input type="text" class="search-query span4" placeholder="Search">
					</li> -->


				</ul>

			</div>
		
		</div>

	<div class="gutter loader-showOnLoad" style="display: none;">

		<div class="main">

			<table class="t table table-striped" style="">
			</table>


		</div>


	</div>

	</body>
</html>