<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>uFeed</title>
		<meta name="viewport" content="user-scalable=no,width=device-width" />
		<meta name="description" content="eduFeed" />
		<meta name="author" content="Andreas Åkre Solberg" />

		<link rel='stylesheet' href="css/style.css" rel="stylesheet" />
		<!-- link rel='stylesheet' href='css/style-mobile.css' media='screen and (max-width: 767px)' /> -->

		<script type="text/javascript" data-main="main" src="/_/js/require.js"></script>

		<script id="groupItem" type="text/x-jquery-tmpl">
			<tr class="group">

				<td style="width: 50px; text-align: right">
					{{if subscribed}}
						<button class="actUnsubscribe btn btn-mini">Unsubscribe</button>				
					{{else}}
						<button class="actSubscribe btn btn-success btn-mini">Subscribe</button>
					{{/if}}
				</td>
				<td style="width: 50px">
					{{if subscribed}}
						<span class="label label-success">Subscribed</span>
					{{else}}
						
					{{/if}}
				</td>
				<td>${title}</td>





<!--
				<td>
					{{if admin}}
						<span class="label label-info">Admin</span>
					{{/if}}
					{{if member}}
						<span class="label label-success">Member</span>
					{{/if}}
					{{if owner}}
						<span class="label label-danger">Owner</span>
					{{/if}}
				</td>
-->
			</tr>
		</script>


	</head>

	<body>



		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">

					<a class="brand" href="#!/">UWAP Subscribe</a>


					<ul class="nav pull-right">
						<li id="authmenu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <span class="myname"></span> <b class="caret"></b></a>
							<ul id="authmenuoptions" class="dropdown-menu">
								<li><a href="#!/notificationsetup">Setup notifications</a></li>
								<li><a href="https://groupmanager.uwpa.org">Manage groups</a></li>
								<li><a href="#!/privacy">Privacy notice</a></li>
								<li class="divider"></li>
								<li><a href="#!/PROFILE">Logout</a></li>
							</ul>
						</li>
					</ul>



					<form class="navbar-search pull-left" action="">
						<input type="text" class="search-query span4" placeholder="Search">
					</form>

				</div>
			</div><!-- /navbar-inner -->
		</div>







	<div class="container-fluid">

		<div class="row-fluid">

			<div class="main span12">

				<table class="t table table-striped">
				</table>


			</div>


		</div>

	</div>

	</body>
</html>