<div id="{{id}}" class="item basicItem{{#promoted}} promoted{{/promoted}}">



	{{#activity.actor}}
		<img class="profileimg img-polaroid" src="{{image.url}}" />
	{{/activity.actor}}

<!--
	{{#user}}
		<img class="profileimg img-polaroid" src="{{profileimg}}" />
	{{/user}}
	{{#client}}
		<img class="profileimg img-polaroid" src="{{profileimg}}" />
	{{/client}}
-->


	<div style="float: right" class="btn-group pull-right">



		<a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
			<i class="icon-cog"></i> 
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#!/item/{{id}}"><i class="icon-share-alt"></i> Open</a></li>
			<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
			<li><a class="actDelete" href="#"><i class="icon-trash"></i> Delete this item</a></li>
			<li><a href="#"><i class="icon-ban-circle"></i> Report this issue</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="icon-star"></i> Promote this item</a></li>
		</ul>
	</div>

	<div style="float: right" class=" pull-right">
		<a id="" href="" style="text-decoration: none; margin: 5px; font-size: 20px; color: #999; " class=""><i style="margin-top: 3px" class="icon-star-empty"></i></a>
	</div>


	<div class="footer" style="">

		{{#activity.actor}}
			<span>
				{{#type.person}}
					<i class="icon-user"></i> 
				{{/type.person}}

				{{#type.client}}
					<i class="icon-briefcase"></i> 
				{{/type.client}}

				{{displayName}}</span>
		{{/activity.actor}}



		<span><i class=" icon-time"></i> <span class="ts" data-ts="{{ts}}"></span></span>

		<!-- 
			<span><i class=" icon-time"></i> activity <span class="ts" data-ts="${lastActivity}"></span></span> 
		-->

		{{#groupnames}}
			<span class="label">{{.}}</span>
		{{/groupnames}}

		{{#public}}
			<span class="label label-inverse"><i class="icon-eye-open icon-white"></i> Public</span>
		{{/public}}

		{{#promoted}}
			<span class="label label-info"><i class="icon-star icon-white"></i> Promoted</span>
		{{/promoted}}

	</div>



	{{#title}}
		<h4>{{title}}</h4>
	{{/title}}

	{{#message}}
	<p>{{{message}}}</p>
	{{/message}}

	{{#thumbnail}}
		<div><img class="thumb" src="{{thumbnail}}" /></div>
	{{/thumbnail}}


	{{#media}}
		{{#thumbnail}}
			<div><img class="videoitem thumb" src="{{thumbnail}}" /></div>
		{{/thumbnail}}
		{{^thumbnail}}
			<div><img class="videoitem thumb" src="http://placehold.it/300x200" /></div>
		{{/thumbnail}}
	{{/media}}

	{{#isEvent}} 
		<div class="row-fluid" style="margin-top: 16px; margin-bottom: 10px">

			{{#allowSignup}}
				<div class="span4 well responseBox event-signup">

					<button data-status="yes" class="responseOption btn btn-mini btn-success">Attend</button>
					<button data-status="maybe" class="responseOption btn btn-mini btn-warning">Maybe</button>
					<button data-status="no" class="responseOption btn btn-mini btn-inverse">Appologize</button>

					{{#hasDeadline}}
						<div class="">
							<p><strong>Deadline for signing up</strong><br />{{deadlineH}}</p>
							<p><i class="icon-exclamation-sign"></i> {{deadlineUntil}}</p>
						</div>
					{{/hasDeadline}}
				</div>

			{{/allowSignup}}
	

			<div class="span4" >
				<p style="font-size: 130%" ><strong>{{getDT}}</strong></p>
				<p><i class="icon-time"></i> {{getUntil}}</p>
			</div>


			<div class="span4">
				<p><strong>{{location.local}}</strong><br /><i class="icon-map-marker"></i> {{location.address}}</p>
			</div>

		</div>

<!--			
		<div class="controllList">
			<p>
				<a href="#" class="actShow">show participants list</a>
				<a href="#" style="display: none" class="actHide">hide participants list</a>
			</p>
		</div>
-->


		{{#allowSignup}}
		<div style="display: block; margin-top: 1em; margin-bottom: 1em">
			<h4>Participant list</h4>

			{{#signup.max}}
				
				<div style="margin-top: 8px; margin-bottom: 8px">
					<p>3 of {{signup.max}} participants signed up. <span class="badge badge-info">7 spaces left</span></p>
				</div>
			
			{{/signup.max}}

			<table class="participants table table-striped">

			</table>

		</div>
		{{/allowSignup}}
	{{/isEvent}}



	{{#activity}}			

		{{#verb_.share}}shared{{/verb_.share}}
		{{#verb_.post}}posted{{/verb_.post}}

		{{#object_.article}}an article{{/object_.article}}
		{{#object_.issue}}an issue{{/object_.issue}}


		{{#activity.provider}}
			<span> through 

				{{#type.client}}
					<i class="icon-briefcase"></i> 
				{{/type.client}}

				{{displayName}}</span>
		{{/activity.provider}}


		{{#object_.article}}

			<div style="margin: 5px 0px 8px 2em; border-left: 3px solid #ccc; padding-left: 5px" class="sharedArticle">
				<i class="icon-external-link" style="font-size: 170%; color: #666; float: left; margin-left: -30px"></i>
				<h4 style="margin:0px"><a target="_blank" href="{{url}}">{{displayName}}</a></h4>
				<p style="margin: 0px; color: #335">{{hostname}}</p>
			</div>

			{{#content}}
				<p style="font-size: 120%">{{content}}</p>
			{{/content}}

		{{/object_.article}}


		{{#object_.issue}}

			<div style="margin: 5px 0px 8px 2em; border-left: 3px solid #ccc; padding-left: 5px" class="sharedArticle">
				<i class="icon-tasks" style="font-size: 170%; color: #666; float: left; margin-left: -30px"></i>
				<h4 style="margin:0px"><a target="_blank" href="{{url}}">{{displayName}}</a></h4>
				{{#content}}
					<p>{{content}}</p>
				{{/content}}
			</div>

			
		{{/object_.issue}}

	{{/activity}}
		


	{{#links}}
        <span style="margin-right: 2em" class=""><i class="icon-share-alt"></i><a target="_blank" href="{{href}}">{{text}}</a></span> 
	{{/links}}

	{{#files}}
		<ul class="nav nav-list">
		{{#files}}
			<li><a target="_blank" href="{{href}}"><i class="icon-file"></i> {{filename}}</a></li>
		{{/files}}
		</ul>
	{{/files}}


	<div style="floar: right">
		<span class="commentlink" style="float: right; clear: right; font-size: small; margin: 0px"><a class="muted actEnableComment" href="#">Add comment</a></span>
	</div>


	<div class="comments">
	</div>


	<div class="clearfix" ></div>

	<div style="margin: 0px; padding: 0px" class="postcomment">
	</div>


</div>