<div class="comment">
	<form class="form-horizontal">

		{{#user}}
			<img class="profileimg img-polaroid" src="{{profileimg}}" />
		{{/user}}
		{{#client}}
			<img class="profileimg img-polaroid" src="{{profileimg}}" />
		{{/client}}
		
		<textarea class="focusfield field-message" style="width: 90%" placeholder="Write a comment..."></textarea>
		<div class="btn-group">
		  <button class="btn btn-mini actPostComment">Post</button>
		  <!-- <button class="btn actSharewith">Share with</button> -->
		</div>

	</form>
</div>