
/* Replace this CSS content with CSS that is specific for your application */
div#locations {
	/*margin: 2em;
	border: 1px solid #eee;
	padding: 1em;
	*/

}
div.location {
	margin: 0px 0px 3px 0px;
	border-bottom: 1px dashed #eee;
}
div.location.firstLocation { 
	color: #300;
	border: 1px solid #eee;
	border-radius: 5px;
	font-size: 110%;
	padding: 4px 10px;
}
div.location.transit {
	color: #aaa;
	font-size: 90%;
	padding-left: 1.4em;
}
div.location.transit span.dur {
	color: #bbb;
}
div.location span.dur {
	color: #445;
}

div.location p {
	margin: 0px;
}
div.location p.title {
	font-size: 130%;
	font-weight: bold;
}
div.location p.time {
	font-size: 90%;
}