<div class="navbar ">
	<div class="navbar-inner">
		<div class="container">
<!-- 			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>  -->
			<a class="brand" href="#">M&oslash;terom</a>
			<div class="btn-group pull-right">
				<a class="btn"  href="#">
					<i class="icon-user"></i> <span id="username">{{name}}</span>
<!-- 					<span class="caret"></span> -->
				</a>
<!-- 				<ul class="dropdown-menu">
					<li><a href="#">Profile</a></li>
					<li class="divider"></li>
					<li><a href="#">Sign Out</a></li>
				</ul> -->
			</div>
<!-- 			<div class="nav-collapse">
				<ul class="nav">
					
					<li class="active"><a href="#">Oversikt</a></li>
					
				</ul>
			</div> -->
		</div>
	</div>
</div>