<div>

	<p>The application seems to be already registered with Feide Connect.</p>

	<a target="_blank" class="btn btn-large btn-primary" href="https://dev.uwap.org/#!/config/{{id}}">
		<span class="glyphicon glyphicon-cog"></span> 
		Manage this application on the Feide Connect Developer Console</a>

	<p>The application is already registered with the following details:</p>

	<dl>

		<dt>Identifier</dt>
		<dd style="margin-left: 2em; font-weight: bold">{{id}}</dd>

		<dt>Name</dt>
		<dd style="margin-left: 2em; font-weight: bold">{{name}}</dd>

		<dt>Description</dt>
		<dd style="margin-left: 2em; font-weight: bold">{{descr}}</dd>

	</dl>



</div>