<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create new Application</h4>
      </div>
      <div class="modal-body">

			<p>You are about to create a new application to be hosted in the UNINETT WebApp Park.</p>

			<form role="form" class="registerform">  

				<p>First, you need to register an app identifier. This will be used as part of the domain name. It can only
				contain letters and numbers [a-z] and [0-9].</p>

				<div class="form-group">
					<label for="newAppIdentifier">Identifier</label>
					<input style="" type="text" class="form-control input" id="newAppIdentifier" placeholder="">
				</div>


				<div class="form-group">
					<label class="checkbox">  
					<input disabled="disabled" type="checkbox" > Use your own domain name </label>
					<input type="text" class="form-control input" disabled="disabled" placeholder="yourowndomain.org">
				</div>


				<p>Your application will be accessible from:<br />
					<code>https://<span class="newAppIdentifierMirror">&lt;identifier&gt;</span>.uwap.org</code> 
					<span class="idlabels"></span></p>

				<p>Then, give your application a short desriptive name, and a longer descriptive text to explain what your application does.</p>

				<div class="form-group">
					<label for="newAppName">Name</label>
					<input style="" id="newAppName" type="text" class="form-control input" placeholder="">
				</div>

				<div class="form-group">
					<label for="newAppDescr">Description of application</label>
					<textarea style="" class="form-control" id="newAppDescr" placeholder="Describe your application..."></textarea>
				</div>


			</form>

      </div>
      <div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="createNewBtn btn btn-primary">Create new application</a>
      </div>
    </div>
  </div>
</div>