<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create new API Gatekeeper</h4>
      </div>
      <div class="modal-body">

		<p>You are about to create a new API Gatekeeper at UNINETT WebApp Park.</p>

			<form class="registerform" role="form">  


				<p>First, you need to register an app identifier. This will be used as part of the domain name. It can only
					contain letters and numbers [a-z] and [0-9].</p>




				<div class="form-group">
					<label for="newProxyIdentifier">Identifier</label>
					<input style="" type="text" class="form-control input" id="newProxyIdentifier" placeholder="">
				</div>


				<div class="form-group">
					<label class="checkbox">  
					<input disabled="disabled" type="checkbox" > Use your own domain name </label>
					<input type="text" class="form-control input" disabled="disabled" placeholder="yourowndomain.org">
				</div>



				<p>Your application will be accessible from:<br />
					<code>https://<span class="newProxyIdentifierMirror">&lt;identifier&gt;</span>.uwap.org</code> 
					<span class="idlabels"></span></p>

				<p>Then, give your application a short desriptive name, and a longer descriptive text to explain what your application does.</p>

				<div class="form-group">
					<label for="newProxyName">Name</label>
					<input id="newProxyName" type="text" class="form-control input" placeholder="">
				</div>

				<div class="form-group">
					<label for="newProxyDescr">Description of application</label>
					<textarea  class="form-control" id="newProxyDescr" 
						placeholder="Describe your application..."></textarea>
				</div>


				<p>Setup the endpoint of your API base.</p>

				<div class="form-group">
					<label for="newProxyEndpoint">API base endpoint</label>
					<input  id="newProxyEndpoint" type="text" class="form-control input" 
						placeholder="http://apiendpoint.yourservice.org">
				</div>


				<div class="form-group">
					<label for="newProxyScopes">Include a list of available scopes (optional):</label>
					<input  id="newProxyScopes" type="text" class="form-control input" 
						placeholder="scope1 scope2 scope3">
				</div>







			</form>




      </div>
      <div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="createNewBtn btn btn-primary">Create new API Gatekeeper</a>
      </div>
    </div>
  </div>
</div>

