

<table class="table table-striped" class="authorizationList">

<!-- 	<thead>
		<tr>
			<th style="width: 40px">&nbsp;</th>
			<th>Client</th>
			<th>Status</th>
		</tr>
	</thead> -->


	<tbody >

	{{#each items}}

		<tr class="client" data-clientid="{{client.id}}">

			<td>
				<span  style="color: #999" class="closed glyphicon glyphicon-chevron-right"></span>
				<span  style="color: #999" class="open glyphicon glyphicon-chevron-down"></span>
			</td>
			<td>
				<img class="clientlogo" style="" src="{{client.logo}}" alt="client logo" />
				{{client.name}} 
			</td>

			<td>
				{{#if scopes.generic_accepted }}
					<span class="label label-success">Access granted</span>

					{{#if scopes.scopes_requested}}
						<span class="label label-warning">Additional access pending</span>
					{{/if}}


				{{/if}}
				{{#if scopes.generic_requested }}
					<span class="label label-warning">Pending request</span>
				{{/if}}
			</td>


		</tr>


		<tr class="clientDetails" data-clientid="{{client.id}}">

			<td colspan="3">

				<div class="clientDetailsBox">

					<div class="pull-right">
						<span class="glyphicon glyphicon-user"></span> <tt>{{client.uwap-userid}}</tt>
					</div>


					{{#if client.descr}}
						<p class="text-info"> {{client.descr}}</p>
					{{/if}}


					{{#if scopes.scopes}}

						<p>This client is already granted access to these scopes:</p>

						<table class="table table-hover">
						{{#each scopes.scopes}}

							{{#if localScope}} 
								<tr class="scope" data-scope="{{localScope}}">
							{{else}}
								<tr class="scope" >
							{{/if}}


							{{#if localScope}} 
								<td>{{scopeName}}</td>
								<td><tt>{{localScope}}</tt></td>

							{{else}}
								<td colspan="2">Generic access</td>
							{{/if}}

								<td><span class="revokeScope btn btn-xs btn-danger">Revoke</span></td>
								
							</tr>
							
						{{/each}}
						</table>





					{{/if}}



					{{#if scopes.generic_accepted }}
						<div>
							<button class="revokeAll btn btn-danger">Revoke all access</button>
						</div>
					{{/if}}



					{{#if scopes.scopes_requested}}

					{{/if}}




				</div>


				

			</td>

		</tr>

	{{/each}}

	</tbody>
</table>










