<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>UWAP - Developer Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="UNINETT WebApp Park - Development Dashboard" />
		<meta name="author" content="Andreas Åkre Solberg" />

		<!-- Le styles -->
		<link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="https://docs.uwap.org/css/uwap-docs.css" rel="stylesheet" />

		<link href="css/style-authzhandler.css" rel="stylesheet" />
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
		</style>


		<!-- JQuery hosted by Google -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<!-- Core API to UNINETT WebApp Park -->
		<script type="text/javascript" src="/_/js/core.js"></script>

		<!-- data-main attribute tells require.js to load
		scripts/main.js after require.js loads. -->
		<script data-main="js/main" src="js/require.js"></script>

		<script type="text/javascript" src="js/spine.js"></script>
		<script src="js/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>



		<script id="authorizationhandlertmpl" type="text/x-jquery-tmpl">
			<tr>
				<td>${title}</td>
				<td><code>${id}</code></td>
				<td>${type}</td>

				<!-- Actions -->
				<td>
					<a class="handlerEdit btn btn-mini" href="#"><i class="icon-wrench"></i> Edit</a> 
					<a class="handlerDelete btn btn-danger btn-mini" href="#"><i class="icon-trash icon-white"></i> Delete</a>
					{{if $item.data.type === "oauth1" || $item.data.type === "oauth2"}}
						<a class="handlerReset btn btn-warning btn-mini" href="#"><i class="icon-repeat icon-white"></i> Reset</a> 
					{{/if}}
				</td>
			</tr>
		</script>

		<script id="authhandlereditortmpl" type="text/x-jquery-tmpl">
			<div class="modal hide" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h3>Edit authorization handler</h3>
				</div>
				<div class="modal-body">
					<p>Authorization handlers are mechamisms to protect REST messages exchanged using the <tt>UWAP.data</tt> API. This enables authentication of the client, and possible also the user by using OAuth version 1 or 2.</p>

					<form class="registerform form-horizontal">  



						<div class="control-group">
							<label class="control-label" for="handlerTitle">Title</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="handlerTitle" value="${title}" placeholder="title">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="input01">Identifier</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="handlerIdentifier" value="${id}" placeholder="Identifier">
								<p class="help-block">A unique handle used to identify this authorization handler.</p>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="handlerType">Type</label>
							<div class="controls">
								<select class="handlerType" id="handlerType" name="handlerType">
									<option value="oauth2">OAuth 2.0</option>
									<option value="oauth1">OAuth 1.0</option>
									<option value="token">Custom HTTP Header Token</option>
									<option value="basic">Basic Authentication</option>
								</select>
								
							</div>
						</div>


						<hr />

						<div class="control-group authzproperty oauth2">
							<label class="control-label" for="field_tokentransport">Token transport</label>
							<div class="controls">
								<select class="handlerType" id="field_tokentransport" name="field_tokentransport">
									<option value="header">Authorization header</option>
									<option value="query">Query string</option>
								</select>
							</div>
						</div>


						<div class="control-group authzproperty oauth2">
							<label class="control-label" for="field_defaultscopes">Default requested scopes<br /><small>(separate by spaces)</small></label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_defaultscopes" value="${defaultscopes}" placeholder="">
							</div>
						</div>

						<div class="control-group authzproperty oauth2">
							<label class="control-label" for="field_defaultexpire">Default token expiration (seconds)</label>
							<div class="controls">
								<input type="text" class="input-medium"  id="field_defaultexpire" value="${defaultexpire}" placeholder="">
							</div>
						</div>



						<div class="control-group authzproperty oauth2">
							<label class="control-label" for="field_authorization">Authorization endpoint</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_authorization" value="${authorization}" placeholder="https://">
							</div>
						</div>


						<div class="control-group authzproperty oauth2">
							<label class="control-label" for="field_token">Token endpoint</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_token" value="${token}" placeholder="https://">
							</div>
						</div>


						<div class="control-group authzproperty oauth1">
							<label class="control-label" for="field_request">Request endpoint</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_request" value="${request}" placeholder="https://">
							</div>
						</div>

						<div class="control-group authzproperty oauth1">
							<label class="control-label" for="field_authorize">Authorization endpoint</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_authorize" value="${authorize}" placeholder="https://">
							</div>
						</div>

						<div class="control-group authzproperty oauth1">
							<label class="control-label" for="field_access">Access endpoint</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_access" value="${access}" placeholder="https://">
							</div>
						</div>


						<div class="control-group authzproperty oauth1 oauth2">
							<label class="control-label" for="field_client_id">Client ID</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_client_id" value="${client_id}" placeholder="">
							</div>
						</div>

						<div class="control-group authzproperty basic">
							<label class="control-label" for="field_client_user">Client username</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_client_user" value="${client_user}" placeholder="">
							</div>
						</div>

						<div class="control-group authzproperty oauth1 oauth2 basic">
							<label class="control-label" for="field_client_secret">Client password</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_client_secret" value="${client_secret}" placeholder="">
							</div>
						</div>



						<div class="control-group authzproperty token">
							<label class="control-label" for="field_token_hdr">Token HTTP Header</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_token_hdr" value="${token_hdr}" placeholder="X-SpecialAPIKey">
							</div>
						</div>

						<div class="control-group authzproperty token">
							<label class="control-label" for="field_token_val">Token HTTP Value</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="field_token_val" value="${token_val}" placeholder="">
							</div>
						</div>

					<div class="control-group authzproperty oauth2">
						<p>Register this redirect URI at your OAuth 2.0 provider.</p>
						<p><code>${redirect_uri}</code></p>
					</div>


					</form>

				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cancel</a>
					<a href="#" class="saveAuthZHandler btn btn-primary">Save authorization handler</a>
				</div>
			</div>
		</script>



		<script id="appdashboardtmpl" type="text/x-jquery-tmpl">
					<div class="row-fluid">

						<div class="span9">
							<h2>${name} <span class="label label-success">App</span></h2>

							<p>${descr}</p>

							<dl>
								<dt>Application access URL</dt>
								<dd><code>${url}</code></dd>
								<dd><a target="_blank" href="${url}">Open web application in new window</a></dd>
							</dl>
							<p></p>

						</div>
						<div class="span3">

							<p><img src="https://store.uwap.org/_/api/logo.php?app=${id}" style="padding: 5px; border: 1px solid #ddd; border-radius: 4px; backgroud: #eee" /></p>

						</div>

					</div>



					<div class="row-fluid">

						<div class="span4">
							<h3>Application data</h3>
							<p>You may access your application area using WebDAV</p>

							<dl>
								<dt>WebDAV URL</dt>
								<dd><code>${davcredentials.url}</code></dd>
								<dt>Username</dt>
								<dd><code>${davcredentials.username}</code></dd>
								<dt>Password</dt>
								<dd><code>${davcredentials.password}</code></dd>
							</dl>
	

						</div>
						<div class="span4">

							<h3>Storages</h3>

							{{if $item.data['appdata-stats']}}
								<p>${$item.data['appdata-stats'].sizeH}B of total ${$item.data["appdata-stats"].capacityH}B of application storage.</p>
								<div class="progress progress-striped progress-success">
									<div class="bar" style="width: ${$item.data["appdata-stats"].usage}%;"></div>
								</div>
							{{else}}
								<p>Application is not yet using application storage.</p>
							{{/if}}							

							

							<p>${$item.data['files-stats'].sizeH}B of total ${$item.data["files-stats"].capacityH}B of document data.</p>

							<div class="progress progress-striped progress-warning">
								<div class="bar" style="width: ${$item.data["files-stats"].usage}%;"></div>
							</div>

							<p>Current application plan: <b>basic student</b></p>

						</div>
						<div class="span4">
							<h3>Usage Statistics</h3>

							<p><img src="img/plot.jpg" style="border-radius: 5px"></p>

							<p>${$item.data['user-stats'].count} registered users. ( <a href="">see more statistics</a> )</p>

						</div>

					</div>


					<h3>REST Authorization handlers</h3>
					<p>You may configure any number of tagged authorization handlers that might be used in your applications API to access protected data on remote sources. Examples of supported authorization types are: token, OAuth 1.0 and OAuth 2.0.</p>
					<table class=" table table-striped">
						<thead>
							<tr>
								<th>Title</th>
								<th>Hostname</th>
								<th>Authorization type</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody class="authorizationhandlers">
						</tbody>
					</table>

					<p><button type="submit" id="addNewAuthzHandle" class="btn">Add new authorization handler</button>  </p>

					<div class="row-fluid">

						<div class="span4 appstatus">
							<h3>App Status</h3>
							<div class="appstatusMain"></div>

							<div class="listing"></div>
							
							<div class="deletion">


							</div>

						</div>
						<div class="span4">

							<h3>Release management</h3>
							<p>You manage these tagged instances</p>

							<dl>
								<dt>production</dt>
								<dd>Production instance</dd>
								<dt>pre-prod</dt>
								<dd>Pre-production for verification</dd>
								<dt>test</dt>
								<dd>Development version</dd>
							</dl>

							<p><a href="">Manage releases</a></p>

						</div>
						<div class="span4">
							<h3>Server API</h3>

							<p style="color: #555">No servers registered</p>
							<p><a href="">Setup new server</a></p>

							<h3>Cron robots</h3>

							<p style="color: #555">No cron robots registered</p>
							<p><a href="">Setup new robot</a></p>


						</div>

					</div>


				</div><!--/span-->
		</script>


		<script id="frontpage" type="text/x-jquery-tmpl">
			<div class="hero-unit">
				<h1>Hello, developer!</h1>
				<p>You are now a few clicks away from setting up hosting of a web application in the UNINETT WebApp Park.</p>
				<p><a class="btn btn-primary btn-large newAppBtn">Setup an app &raquo;</a></p>
			 </div>
			 <div class="row-fluid">
				<div class="span4">
					<h2>Applications</h2>
					<p>Web applications running in UNINETT WebApp park will be available on a separate domain, and have access to authentication, storage and REST authorization handlers. You can mount your application data to your development environment using WebDAV.</p>
					<p><a class="btn" href="#">Setup an app &raquo;</a></p>
				</div><!--/span-->
				<div class="span4">
					<h2>SOA Proxies</h2>
					<p>If you already have a REST data API, and would like to add a layer of authentication and authorization, the SOA Proxy may proxy all REST requests to your application.</p>
					<p><a class="btn" href="#">Setup a SOA proxy &raquo;</a></p>
				</div><!--/span-->
				<div class="span4">
					<h2>Clients</h2>
					<p>Register an OAuth 2.0 Consumer to get access to any of the available data sources through UNINETT WebApp Engine.</p>
					<p><a class="btn" href="#">Setup a client &raquo;</a></p>
				</div><!--/span-->
			 </div><!--/row-->
		</script>


		<script id="newAppTemplate" type="text/x-jquery-tmpl">
			<div class="modal hide" id="myModal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h3>Create new Application</h3>
				</div>
				<div class="modal-body">
					<p>You are about to create a new application to be hosted in the UNINETT WebApp Park.</p>

					<form class="registerform form-inline">  

						<p>First, you need to register an app identifier. This will be used as part of the domain name. It can only
							contain letters and numbers [a-z] and [0-9].</p>

						<p>
							<input style="width: 200px" type="text" class="input" id="newAppIdentifier" placeholder="Identifier">
						</p>

						<p>
							<label class="checkbox">  
							<input disabled="disabled" type="checkbox" > Use your own domain name </label>
						</p>

						<p style="display: none">
							<input type="text" class="input" disabled="disabled" placeholder="yourowndomain.org">
						</p>

						<p>Your application will be accessible from:<br />
							<code>https://<span class="newAppIdentifierMirror">&lt;identifier&gt;</span>.eduapps.org</code> 
							<span class="idlabels"></span></p>

						<p>Then, give your application a short desriptive name, and a longer descriptive text to explain what your application does.</p>

						<p><input style="width: 300px" id="newAppName" type="text" class="input" placeholder="Name"></p>


						<p><textarea style="width: 300px" id="newAppDescr" placeholder="Describe your application..."></textarea></p>


					</form>

				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cancel</a>
					<a href="#" class="createNewBtn btn btn-primary">Create new application</a>
				</div>
			</div>
		</script>
	</head>

	<body>


	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">UWAP</a>
				<div class="btn-group pull-right">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i> <span id="username"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="#">Sign Out</a></li>
					</ul>
				</div>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="https://store.uwap.org">App Store</a></li>
						<li class="active"><a href="#">Developers</a></li>
						<li><a href="https://docs.uwap.org">Documentation</a></li>
						<li><a href="https://developers.uwap.org/">About</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>


	<div class="container-fluid">

		<ul class="breadcrumb">
			<li>
				<a href="#">Dashboard</a> <span class="divider">/</span>
			</li>
			<li class="active">Foodle</li>
		</ul>


		<div class="row-fluid">

			<div class="span3">
			 <div class="well sidebar-nav">
				<ul class="nav nav-list applicationlist"></ul>
			 </div><!--/.well -->
			</div><!--/span-->
			<div id="appmaincontainer" class="span9">
			 

			</div><!--/span-->
		</div><!--/row-->

		<hr>

		<footer>
			<p>&copy; UNINETT 2012</p>
		</footer>

	 </div><!--/.fluid-container-->

	 <div id="modalContainer"></div>

	 <!-- Le javascript
	 ================================================== -->
	 <!-- Placed at the end of the document so the pages load faster -->
	 
	 	 <script src="js/bootstrap-modal.js"></script>
<!--	 <script src="js/bootstrap-transition.js"></script>
	 <script src="js/bootstrap-alert.js"></script>
	 <script src="js/bootstrap-dropdown.js"></script>
	 <script src="js/bootstrap-scrollspy.js"></script>
	 <script src="js/bootstrap-tab.js"></script>
	 <script src="js/bootstrap-tooltip.js"></script>
	 <script src="js/bootstrap-popover.js"></script>
	 <script src="js/bootstrap-button.js"></script>
	 <script src="js/bootstrap-collapse.js"></script>
	 <script src="js/bootstrap-carousel.js"></script>
	 <script src="js/bootstrap-typeahead.js"></script>
-->
	</body>
</html>