<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add new scope</h4>
			</div>
			<div class="modal-body">
				<form role="form" class="">
					<div class="form-group">
						<label for="newScopeValue">Scope value</label>
						<input id="newScopeValue" class="form-control newScopeValue" type="text" value="" placeholder="scopename" />
					</div>

					<div class="form-group">
						<label for="newScopeName">Descriptive name of this scope</label>
						<input id="newScopeName" class="form-control newScopeName" type="text" value="" placeholder="Description ..." />
					</div>

					<div class="checkbox">
						<label>
							<input class="newScopePolicy" type="checkbox" value="" placeholder="Scope value..." /> Auto-grant access to this scope 
						</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Dismiss</button>
				<button id="addScopeSubmit" class="btn btn-primary">Add scope</button>
			</div>
		</div>
	</div>
</div>