<div id="detailsContainer" class="container col-md-8 col-md-offset-2">
	<div class="topN col-md-12">
<!-- 		<a id="groupBack" href="#">Groups</a> <span> &#62; {{id}} </span> -->
		<ul class="breadcrumb">
			<li><a id="groupBack" href="#">Groups</a>  <span class="divider">/</span></li>
			<li class="active">Group details</li>
		</ul>
	</div>
	<div class="container" style="padding-left: 15px; padding-top: -20px;">
		<div id="titleContainer">
			<h2 id="titleHeader">{{title}}</h2>
		</div>
		<div id="descriptContainer">
			<span id="descriptionSpan">{{description}}</span>
		</div>
		<div id="checkContainer">
			<br />
		</div>

		<div>
			<br />
			<br />
			<h3>Members</h3>
			<table id="membersTable" class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Mail</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="allMem">

				</tbody>
			</table>
		</div>
		
		{{#you}}
		{{#admin}}
		<h3>Add</h3>
		<div
			style="border: 0px solid #DDD; background-color: white !important;">

			<input
				style="font-size: 12px; height: 24px; padding-top: 4px; padding-left: 9px; width: 300px;  vertical-align:middle;"
				class="search-query" id="peoplesearch"
				placeholder="Type to search for people..." />

		</div>
		{{/admin}} 
		{{^admin}} 
			{{#owner}}
				<h2>Add</h2>
				<div style="border: 0px solid #DDD; background-color: white !important;">

					<input
						style="font-size: 12px; height: 24px; padding-top: 4px; padding-left: 9px; width: 300px"
						class="search-query" id="peoplesearch"
						placeholder="Type to search for people..." />

				</div>
			{{/owner}} 
		{{/admin}} 
		{{/you}} 
		

	</div>
</div>