body {
	padding-top: 0px;
}


div#panecontainer .item {
/*	overflow-x: hidden;
	overflow-y: visible;*/
}




/* Notifications */

#feednotifications .notificationentry.isread a {
	color: #888;
}




/* Feed entries */

div#viewbarcontroller {
	margin-bottom: 6px;
}

div.feedcontainer {
	border: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
}


div.feedcontainer {
	
	-webkit-box-shadow: rgb(255, 255, 255) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.296875) 0px 1px 5px 0px;
	background-color: 
		rgb(245, 245, 245);
	background-image: -webkit-linear-gradient(top, 
		rgb(251, 251, 251), 
		rgb(238, 238, 238));
	background-repeat: repeat-x;
	border-bottom-color: 
		rgb(51, 51, 51);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: 
		rgb(51, 51, 51);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: 
		rgb(51, 51, 51);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: 
		rgb(51, 51, 51);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: none;
	border-top-width: 0px;
}

div.feedcontainer .basicItem p { margin: 0px; padding: 0px; }
div.feedcontainer .basicItem p.articleParagraph {
	margin-top: .4em;
}

div.feedcontainer .basicItem {
	padding: 8px 10px 8px 70px;
	min-height: 64px;
	

	-webkit-box-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px 0px inset;
	background-color: 
		rgb(242, 242, 242);
		background-image: -webkit-linear-gradient(top, 
		rgb(246, 246, 246), 
		rgb(238, 238, 238));
	background-repeat: repeat-x;
	border-bottom-color: 
		rgb(212, 212, 212);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px 0px inset;
	color: 
		rgb(51, 51, 51);

}
div.feedcontainer .basicItem.promoted {
	background: #fff !important;
}
div.feedcontainer .basicItem:last-child {
	border-bottom: none;
}
div.feedcontainer .basicItem .footer {
	color: #777;
	font-size: small;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}


div.feedcontainer .basicItem .profileimg {
	float: left;
	margin-left: -64px;

}
div.feedcontainer .item .profileimg {
	max-width: 48px;	
}

div.feedcontainer .basicItem img.thumb {
	max-width: 350px;
	
}

img.thumb {
/*	max-width: 200px;*/
	border: 1px solid #444;
}

/* Comments */

div.feedcontainer .comment textarea {
	margin-bottom: 3px;
}
div.feedcontainer .comment {
	padding: 2px 10px 2px 70px;
	min-height: 64px;
	margin-top: 10px;
	margin-bottom: 0px;
}
div.feedcontainer .comment .profileimg {
	float: left;
	margin-left: -64px;
	max-width: 48px;
}

/* Video items */
div.feedcontainer .mediaItem  {
	/*text-align: center;*/
}
div.feedcontainer .mediaItem .footer {
	display: none;
}
div.feedcontainer .mediaItem:hover .footer {
	display: block;
}

div.feedcontainer .mediaItem .thumbnail {
	height: 300px;
	overflow: scroll;
	border: 1px solid #ccc;

}
div.feedcontainer .mediaItem h4 {
	margin: 0px;
	font-size: 100%;
	line-height: 100%;
}
div.feedcontainer .mediaItem p {
	margin: 0px;
	font-size: 80%;
	line-height: 100%;
}
img.videoitem.thumb {
	width: 100%;
}



/* Video player */

.modal { 
	width: 900px;
	height: 800px; 
}
.modal-body {
	max-height: 1000px;
	max-height: 1000px;
}

video {
	z-index: 2200;
	opacity: 1.0;
	position: fixed;
	max-width: 100%;
	max-height: 100%;
/*				max-width: 90%;
	max-height: 90%;
*/				/*background-color: black;*/
}

#videoPlayer {

}

#player {
	position: fixed;

	top: 0px;
	left: 0px;


	z-index: 2100;
	opacity: 1.0;

}


#opaque {
    background-color: black;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.9; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 2020;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position: fixed;
    top: 0px;
    left: 0px;
}



/* Post box */

.sharewith .sharedwithgroup {
	margin: 1px 2px;
}




